html {
  padding: 0;
  margin: 0;
  background-color: #dcdccc;
  font-family: Verdana, Helvetica, sans-serif;
  color: #3f3f3f;
}
body {
  padding: 0;
  margin: 0;
}
a {
  color: #5c888b;
  text-decoration: underline;
}
a :hover {
  cursor: pointer;
  text-decoration: underline;
}
img {
  border: none;
}
#content {
  padding-left: 1em;
}

#formContainer {
  display: none;
  padding:1em;
  width:500px;
  border:1px solid #bcbccc;
}

#formContainer label, #formContainer input {
  display: block;
}

.status { display: none; padding: 1em; margin-top: 1em; }
.status.error { background-color: #bc8383; }
.status.notice { background-color: #7f9f7f; }

#loginStatus.status { width: 500px; }